<footer class="page-footer blue darken-3">
     
  <div class="row  ">
    <div class=" col s12 m4 l12 center">
      <h5> <img src="./assets/ico.png" alt="ico"> Home Run </h5>
      <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-google-plus"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </div>
    <div class=" col s12 m4 l12 center">
      <h5 class="white-text"> <img src="./assets/ico.png" alt="ico">Acerca de Nosotros</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class=" col s12 m4 l12 center">
      <h5 class="white-text"> <img src="./assets/ico.png" alt="ico">  Home</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-angle-double-right"></i>  Bates </a></li>
        <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-angle-double-right"></i>  Pecheras </a></li>
        <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-angle-double-right"></i>  Cascos </a></li>
        <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-angle-double-right"></i>  Guantes </a></li>
      </ul>
    </div>


    
  </div>

<div class="footer-copyright">
 <div class="bottomcontent">
    <p>© 2019 Copyright W3hubs.com</p>
    
  </div>
</div>
</footer>

