<div class="container">
    <div>
        <a routerLink="/administracion/crear-cliente" class="btn green">
            <i class="fa-solid fa-user-plus"></i>
        Agregrar Cliente </a>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-2">Buscar: </div>
      <div class="col-lg-5">
        <input type="text" [(ngModel)]="busqueda">
      </div>
      {{busqueda}}
    </div>
    <div class="card ">
    <table class="table responsive">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let c of ListaClientes | search:busqueda" >
                <td>{{ c.Nombre}}</td>
                <td>{{ c.Fecha_nacimiento}}</td>
                <td>{{ c.Telefono}}</td>
                <td>{{ c.Email}}</td>
                <th>
                    <a routerLink="/administracion/editar-cliente/{{c.id}}">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a routerLink="/administracion/eliminar-cliente/{{c.id}}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </th>
            </tr>
        </tbody>
      </table>

</div>
</div>
