<div class="container">
    <div>
        <a routerLink="/administracion/crear-cliente" class="btn green">
            <i class="fa-solid fa-user-plus"></i>
        Agregrar Cliente </a>   
    </div>
    <div class="card ">
    <table class="table responsive">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th>Opciones</th>
          </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let c of ListaClientes" >
                <th>{{ c.nombre}}</th>
                <th>{{ c.fecha}}</th>
                <th>{{ c.telefono}}</th>
                <th>{{ c.correo}}</th>
                <th>
                    <a routerLink="/administracion/editar-cliente/{{c.id}}">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a routerLink="/administracion/eliminar-cliente/{{c.id}}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </th>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Opciones</th>
            </tr>           
        </tfoot>
      </table>
    
</div>    
</div>