
.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
color: #3f50b5;
}
.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
border-bottom: 2px solid #3f50b5;
box-shadow: none;
}
.input-field label{
left: 0;
}
form{
margin: 30px auto;
align-items: center;
justify-content: center;
width: 45%;
}
.btn-large{
height: 45px;
line-height:45px;
}
.m-b-none{
margin-bottom: 0;
}
.padder-x{
padding: 0 !important;
}
.m-md{
margin-top: 10px;
margin-bottom: 20px;
}
.forgotpassword{
font-weight: bold;
}
h2{
margin-top: 30px;
font-weight: 500;
letter-spacing: 1px;
padding:20px;
}
@media(max-width: 700px){
form{
width: 60%;
}
}
@media(max-width: 530px){
form{
width: 70%;
}
}
@media(max-width: 450px){
form{
width: 80%;
}
}
#form-login{
    border-radius: 15px;
    min-width: 450px;
}
.btn{
    font-weight: 600;
    border-radius: 30px;
}
.card-panel h2{
    font-family: 'Lobster', cursive;
    color: rgb(1, 1, 161);
}
